.box {
  display: flex;
  flex-direction: column;
}

.item {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  row-gap: 0;
  column-gap: 12px;
  align-items: center;

  .state {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 36px;
    height: 36px;

    background-color: transparent;
    border-radius: 100%;

    &:active {
      background-color: var(--color-accent-900);
    }
  }

  &.disabled {
    cursor: auto;
    color: var(--color-light-900);
  }

  .indicator {
    position: relative;
    z-index: 10;

    width: 8px;
    height: 8px;

    background-color: var(--color-accent-500);
    border-radius: 50%;
  }

  .radio {
    all: unset;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 16px;
    height: 16px;
  }
}

.frame {
  position: absolute;
  z-index: 5;
  inset: 0;

  box-sizing: border-box;

  border: 2px solid var(--color-accent-500);
  border-radius: 50%;
}
