@import '@/styles/mixins';

.card {
  @include card;

  .title:not(:last-child) {
    margin-bottom: 27px;
  }

  span {
    text-decoration: underline;
  }

  .form {
    @include form;

    .inputLine {
      margin-bottom: 24px;
    }

    .inputLine:nth-child(2) {
      margin-bottom: 12px;
    }

    .checkboxLine {
      margin-bottom: 6px;
    }

    .linkLine {
      align-self: flex-end;
      margin-bottom: 66px;
    }

    .buttonLine {
      margin-bottom: 20px;
    }
  }

  .textFormLine {
    margin-bottom: 11px;
  }
}
