@import '@/styles/mixins';

.card {
  @include card;

  .form {
    @include form;

    .inputLine:nth-child(2) {
      margin-bottom: 12px;
    }

    .checkboxLine {
      margin-bottom: 6px;
    }

    .linkLine {
      align-self: flex-end;
      margin-bottom: 66px;
    }
  }
}
