@import '@/styles/mixins';

.card {
  @include card;
}

.form {
  @include form;

  .inputLine {
    margin-bottom: 19px;
  }

  .text {
    margin-bottom: 65px;
    color: var(--color-light-900);
  }
}

.titleCard {
  margin-bottom: 51px;
}
